.Information > p{
  position: fixed;
  top: 30%;
  left: 50%;
  text-decoration: solid;
  font-size: 2em;
  text-decoration: underline;
}


.OrderTitle * {
  display: inline;
  margin-right: 5em;
}

.OrderInformation * {
  display: inline;
  margin-right: 11em;
}

.Order{
  margin-bottom: 2em;
}

.ProductTitle * {
  display: inline;
  margin-right: 3em;
}

.ProductInformation * {
  display: inline;
  margin-right: 9em;
}
