p{
    position: fixed;
    top: 25%;
    left: 50%;
    text-decoration: solid;
    font-size: 2em;
    text-decoration: underline;
  }

  .information{
    display: flex;
    flex: 1;
    margin: 1rem
}
