<p>It works</p>

<button mat-raised-button  (click)="getOrder()">Execute Order</button>

<div *ngFor="let s of loadOrder()">
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{s.tableid}}
      </mat-panel-title>
      <mat-panel-description>
        {{s.status}}
      </mat-panel-description>
      <mat-panel-description>
        {{s.totalamount}}
      </mat-panel-description>
    </mat-expansion-panel-header>
   <p *ngFor="let s of this.loadOrderedItems()">
      {{s.itemid}},{{s.status}}

    
    
    </p>
  </mat-expansion-panel>
 
</mat-accordion>
</div>
<!--
<div class="Information">
  <p *ngIf="!showOrder; else show">Please place an order first</p> 
</div>

<ng-template #show>

<mat-card class="Order">
  <mat-card-title class="OrderTitle">

    <p>ID</p>
    <p>Table</p>
    <p>Status</p>
  </mat-card-title>

  <mat-card-content class="OrderInformation">

  <p>{{orderID}}</p>
  <p>{{table}}</p>
  <p>{{status}}</p>

  </mat-card-content>


  </mat-card>
  <mat-card class="Product">
    <mat-card-title class="ProductTitle">
  
      <p>Title</p>
      <p>Likes</p>
      <p>Dislikes</p>
      <p>Processing Status</p>
    </mat-card-title>
  
    <mat-card-content class="ProductInformation">
  
    <p>{{title}}</p>
    <p>{{likes}}</p>
    <p>{{dislikes}}</p>
    <p>{{productStatus}}</p>
  
    </mat-card-content>
    </mat-card>


  </ng-template>
  -->