.sectionCall{
    position: absolute;
    top: 4em;
    left: 4em;
}

.btnWaiter{
    padding: 10px 30px;
    font-size: 2em;
    font-weight: bold;
}

p{
    position: fixed;
    top: 5em;
    left: 10em;
    text-decoration: solid;
    font-size: 2em;
    text-decoration: underline;
    color: red;
  }