

<mat-card class="cards">
  <form #reviewForm="ngForm" (ngSubmit)="checkInputs(reviewForm.value)" >
  <mat-card-title>Name</mat-card-title>
    <div class="container2">

      <div class="child" id="firstChild">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Firstname</mat-label>
          <input  type="text" matInput id="firstname" ngModel name="firstname" required >
        </mat-form-field>
      </div>

      <div class="child">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Surename</mat-label>
          <input type="text" matInput id="surename" ngModel name="surename" required>
        </mat-form-field>
      </div>
    </div>
  


  <mat-card-title>Select your experience</mat-card-title>
  
  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Select</mat-label>
    <mat-select [(value)]="selectedValue" ngModel name="stars" required >
      <mat-option value="1">One Start</mat-option>
      <mat-option value="2">Two Stars</mat-option>
      <mat-option value="3">Three Stars</mat-option>
      <mat-option value="4">Four Stars</mat-option>
      <mat-option value="5">Five Stars</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card-title>Describe your experience</mat-card-title>
 
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Describe your experience</mat-label>
      <textarea   type="text" matInput id="txt" ngModel name="txt" required>
        
      </textarea>
    </mat-form-field>
  

  <button mat-raised-button  class="addReview">Post Review</button>
</form>  

</mat-card>






<mat-card class="cards" *ngFor="let s of loadReviews()">

  <mat-card-title>{{s.firstname}} {{s.surname}}</mat-card-title>
  <br>
  
  <div class="container">
    <div class="child-left"> {{s.stars}} Sterne</div>
    <div class="child-right"> {{s.reviewdate}}</div>
  </div>
  
  <p>
    {{s.textcomment}}

  </p>
<mat-card-content>
</mat-card-content>
</mat-card>