.cards{
    margin: 1rem;
}


.container{
    display: flex;
    
}


.container2{
    display: flex;
    flex-wrap: wrap;
}

.png{
    width: 5rem;
    height: 5rem;
}



#txt{
    height: 5rem;
}
.mat-form-field{
    width: 100%;
    
}

.example-full-width  {
    width: 99%;
}


.child-left{
   float:left;
   flex: 1;
   overflow:hidden;
   
}

.child-right{
    float:right;
    flex: 1;
    overflow:hidden;
}

.child-right-bewertung{
    float:left;
    flex-wrap: wrap;
}

.child-left-bewertung{
    float:left;
    flex: 1;
}



