.cards{
    margin: 1rem;
}


.container{
    overflow:auto;
    margin-bottom: 1rem;
}

.container2{
    display: flex;
    flex-wrap: wrap;
}

.png{
    width: 5rem;
    height: 5rem;
}



#txt{
    height: 5rem;
}
.mat-form-field{
    width: 100%;
    
}

.example-full-width  {
    width: 99%;
}


.child-left{
   float:left;
   flex: 1;
   overflow:hidden;
   
}

.child-right{
    float:right;
    flex: 1;
    overflow:hidden;
}

.rating{
    display: flex;
   	flex-direction: row;
	
}

.ratingDot{
    width: 16px;
	height: 16px;
    border-radius: 50%;
    background-color: green;
    margin: 0 0.1rem 0 0;
}

