



.flex-container{
  margin: 1rem;
  display: flex;
  margin-right: 0rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  
}

.child-left-search{
  flex: 0 0 10%;
}
.child-right-categories{
  overflow-x: scroll;
  flex: 0 0 90%;
}

.example-full-width{
  width: 3rem;
}
.mat-tab-group{
  color: #002b5c;
}

.mat-button{
  margin-top: 0.5rem;
}



.flex-container {
  display: flex;
}

.flex-right{
  flex: 0 0 30%;
  z-index: 3;

 


  
}













