
<mat-card class="flex-container">
<div class="flexi-container">
  <head>Hallo</head>

  <!-- Filter start -->
    <div class="child-left-search">
    <button mat-button>
      <mat-icon>search</mat-icon>
      <mat-form-field class="example-full-width" >
        
        <input name="Filter"  matInput [(ngModel)]='word' 
      >
      </mat-form-field>
    </button>
  </div>
<!-- Filter end -->

  <div class="child-right-categories" id="categoriesTab">
    <mat-tab-group animationDuration="500ms" (selectedTabChange)="onTabChange($event)">

      <mat-tab *ngFor="let category of getCategories()" [label] = category.name class="mat-tab-categories">
    
      </mat-tab>
      
    </mat-tab-group>
  </div>
</div>
</mat-card>

<div class="flex-right">
  <app-shoppingCart></app-shoppingCart> 
</div>


<div *ngIf="tabName === 'Top Seller'; then topSellers else others"></div>

<ng-template #topSellers>
  <!--<mat-card *ngFor="let category of getCategories()" style="margin-bottom: 1rem;">
    <mat-card-title id= {{category.name}} style="margin-left: 1rem;">{{category.name}}</mat-card-title>-->
  
    <!-- <app-product *ngFor="let product of filterByTitle(word)" [product]="product" (shoppingCartEmitter) = "sendProduct($event)"></app-product> -->
  <mat-card>
  <app-product *ngFor="let product of getTopSellers(word)" [product]="product"
    (shoppingCartEmitter) = "sendProduct($event)" style="margin-bottom: 1rem;">
  </app-product>
  </mat-card>
  
</ng-template>

<ng-template #others>
<div *ngFor="let category of getCategories()" style="margin-bottom: 1rem;">
  <div *ngIf="category.name === tabName">


  <!-- <app-product *ngFor="let product of filterByTitle(word)" [product]="product" (shoppingCartEmitter) = "sendProduct($event)"></app-product> -->


<app-product *ngFor="let product of filterByCategory(category, word)" [product]="product"
  (shoppingCartEmitter) = "sendProduct($event)">
</app-product>
 </div> 


</div>
</ng-template>
    



 
  