
<mat-card class="flex-container">
<div class="flexi-container">
  <head>Hallo</head>

  <div class="child-left-search">
    <button mat-button>
      <mat-icon>search</mat-icon>
      <mat-form-field class="example-full-width" >
        
        <input name="Filter"  matInput [(ngModel)]='word' 
      (ngModelChange)="filterByTitle(word)">
      </mat-form-field>
    </button>
  </div>

  <div class="child-right-categories" id="categoriesTab">
    <mat-tab-group animationDuration="500ms" >
      

      <mat-tab *ngFor="let category of getCategories()" [label] = category.name class="mat-tab-categories">
    
      </mat-tab>
      
    </mat-tab-group>
  </div>
</div>
</mat-card>

<div class="flex-right">
  <app-shoppingCart></app-shoppingCart> 
</div>

    <mat-card *ngFor="let category of getCategories()" style="margin-bottom: 1rem;">
      <mat-card-title id= {{category.name}} style="margin-left: 1rem;">{{category.name}}</mat-card-title>


  <app-product *ngFor="let product of filterByCategory(category)" [product]="product"
  (shoppingCartEmitter) = "sendProduct($event)">
</app-product>

</mat-card>

    

 
  





 
  