


.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-bottom: 16px;
}

.filter{
  margin: 1rem;
  display: flex;
}

.child-left-search{
  flex: 0 0 10%;
}
.child-right-categories{
  overflow-x: scroll;
  flex: 0 0 90%;
}

.example-full-width{
  width: 3rem;
  display: none;
}
.mat-tab-group{
  color: #002b5c;
}

.mat-button{
  margin-top: 0.5rem;
}



.flex-container {
  display: flex;
}

.flex-right{
  flex: 0 0 20%; /* flex-basis: 50% */
  position: fixed;
  width: 300px;
  right: 5rem;
  
}
.flex-left{
  flex: 0 0 80%; /* flex-basis: 50% */
  
 
}












