.Product {
    max-width: 400px;
    margin: 1rem;
  }

.mat-raised-button{
  margin-right: 1rem;

  }

  .btnLike{
    background-color: greenyellow;
    margin-left: 20px;
  }

  .btnDislike{
    background-color: red;
  }

 
