<mat-card class="Product">
   
     
    <mat-card-title>{{product.title}}</mat-card-title>

    <mat-card-content class="ProductContent" *ngIf="product.status == 'available'">
        <p *ngIf="product.price">Price: {{product.price}}</p>


        <p ngDefaultControl [(ngModel)]="product.likes" *ngIf="product.likes">Likes: {{product.likes}}
        </p>

        <p ngDefaultControl [(ngModel)]="product.dislikes" *ngIf="product.dislikes">Dislikes:
            {{product.dislikes}}
        </p>
       
           
        <div *ngIf="product.likes&&product.dislikes">
            <p>{{calcStarRatio(product.likes, product.dislikes)}} <img src="../assets/star.png" width="20" alt=""> ({{product.likes+product.dislikes}})</p>
        </div>

    </mat-card-content>
    <!--
    <mat-card-actions>
        <button mat-button (click)="incrementLikes()" type="button"
            style="background-color:rgb(151, 236, 24); color:black">
            LIKE
        </button>

        <button mat-button (click)="incrementDislikes()" type="button"
            style="background-color:rgb(226, 49, 49); color:black">
            DISLIKE
        </button>
    </mat-card-actions>
    -->

    
    <button mat-raised-button class="btn" (click)="addProduct()" [disabled]="notAvailable">Add</button>
    <button mat-raised-button class="btn" (click)="openDialog()">View Datails</button>
    <button mat-raised-button class="btnLike" (click)="incrementLikes()" [disabled]="rated || notAvailable">Like</button>
    <button mat-raised-button class="btnDislike" (click)="incrementDislikes()" [disabled]="rated || notAvailable">Dislike</button>

    
</mat-card>

