.Product {
  flex: 0 0 90%;
    margin: 1rem;
  }

.mat-raised-button{
  margin-right: 1rem;

  }

  .btnLike{
    background-color: greenyellow;
    margin-left: 20px;
  }

  .btnDislike{
    background-color: red;
  }

  @media (max-width: 460px) {
    .btnLike{
      position: relative;
      margin: 1rem;
 
    }
    .btnDisLike{
      position: relative;
      margin: 1rem;
    }

  }
