.container{
    display: flex;
}

.child{
    flex:1;
    margin: 1rem;
}

.card{
    margin: 1rem;
}

#txt{
    text-align: center;
    margin-bottom: 1rem;
  }

  .btnPay{
    width: 100%;
  }
  
  .sectionPay{
    margin: 0.0rem;
  }
  