.container{
    display: flex;
}

.child{
    flex:1;
    margin: 1rem;
}

.card{
    margin: 1rem;
}

#txt{
    text-align: center;
    margin-bottom: 1rem;
  }

  
  
  .sectionPay{
    margin: 1.0rem;
  }

  .log{
     margin: 1rem; 
  }
  #jwt{
    overflow-y: scroll;
  }
  