<p>detail works!</p>

<mat-card class="Product">
    <mat-card-header>
        <mat-card-title>{{product.itemid}}</mat-card-title>
        <mat-card-subtitle>{{product.title}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="ProductContent">
        <p *ngIf="product.description">Description: {{product.description}}</p>

        <p *ngIf="product.price">Price: {{product.price}}</p>

        <p ngDefaultControl [(ngModel)]="product.likes" *ngIf="product.likes">Likes: {{product.likes}}
        </p>

        <p ngDefaultControl [(ngModel)]="product.dislikes" *ngIf="product.dislikes">Dislikes:
            {{product.dislikes}}
        </p>
       
           



        <div *ngIf="product.likes&&product.dislikes">
            <p>{{calcStarRatio(product.likes, product.dislikes)}} <img src="../assets/star.png" width="20" alt=""> ({{product.likes+product.dislikes}})</p>
        </div>

    </mat-card-content>
</mat-card>

