.container{
  display: flex;
  flex-wrap: wrap;
}

.child:not(:first-child){
  flex: 1;
}

.child:nth-child(1) {
  width: 100%;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 2;
}  

.Product{
  margin-bottom: 1rem;
}

#txt{
  text-align: center;
  
}

.btnPay{
  width: 100%;
}

.sectionPay{
  margin: 0.0rem;
}

.block{
  flex: 0 0 30%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (max-width: 700px) {
  .block{
    margin-bottom: 1em;
  }
}