
<mat-card class="block">
  <mat-card-title id="txt">Shopping Cart</mat-card-title>


  <mat-card class="show" *ngIf="!small">
 
<mat-card class="Product"
*ngFor="let s of loadShoppingCart()">
    <mat-card-content class="container">
      <div class="child">

      <div class="flex-container">

      <div class="flex-child">
        <p *ngIf="s.quantity">{{s.quantity}}</p>
      </div>

      <div class="flex-child">
        <p *ngIf="s.title"> {{s.title}}</p>
      </div>

      <div class="flex-child">
        <p *ngIf="s.price"> {{s.price}}</p>
      </div>
    </div>

    </div>
    
      <div class="child">
        <button mat-raised-button (click)="incrementProduct(s)" >Add</button>
      </div>
     
      <div class="child">
        <button mat-raised-button (click)="decrementProduct(s)">Decrease</button>
      </div>
  

  </mat-card-content>

</mat-card>

</mat-card>


  <mat-card-content>


  </mat-card-content>

  <button mat-raised-button  class="btnShoppingCart"  [routerLink]="['../shoppingCart']" *ngIf="small">Go to Shopping Cart</button>

  <mat-card-actions class="sectionPay">

     <button mat-raised-button class="btnPay"  id="btnPay" (click)="pay()" [routerLink]="['../payment']">Pay {{this.totalSum}} €</button>

  </mat-card-actions>




</mat-card>


  

