

<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  Welcome to our Restaurant
</mat-toolbar>




  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    
        <button mat-button class="menu-button">
          <mat-icon>restaurant_menu</mat-icon>
          <a routerLinkActive="active-list-item" routerLink="products">Products</a>
      </button>
 
      <button mat-button class="menu-button">
          <mat-icon>payment</mat-icon>
          <a routerLinkActive="active-list-item" routerLink="payment">Payment</a>
      </button>
      <button mat-button class="menu-button">
          <mat-icon>shopping_basket</mat-icon>
          <a routerLinkActive="active-list-item" routerLink="order">Order</a>
      </button>

      <button mat-button class="menu-button">
        <mat-icon>help_outline</mat-icon>
        <a routerLinkActive="active-list-item" routerLink="waiter">Waiter</a>
      </button>

    <button mat-button class="menu-button">
      <mat-icon>rate_review</mat-icon>
      <a routerLinkActive="active-list-item" routerLink="review">Review</a>
   </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button"  (click)="exit()" >
        <mat-icon>exit_to_app</mat-icon>
        Logout
     </button>
     
   
      
  </mat-sidenav>



  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
 </mat-sidenav-content>

  </mat-sidenav-container>